<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSMicrophoneUsageDescription</key>
    <string>Brivva needs microphone access to capture your voice for real-time translation.</string>
    <key>NSCameraUsageDescription</key>
    <string>Brivva needs camera access to capture your webcam for live streaming.</string>
</dict>
</plist>
